.home {
    padding: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout {
    background-color: darkblue;
    color: white;
    border-radius: 6px;
    border: 0.5px solid rgb(52, 31, 184);
}


.logout:hover {
    background-color: rgb(43, 43, 211);;
}

.verify {
    margin-top: 1rem;
    color: white;
    background-color: darkblue;
    border-radius: 4px;
}

.verify:hover {
    background-color: rgb(43, 43, 211);;
}

.expenses {
    margin-top: 1rem;
    color: white;
    background-color: darkblue;
    border-radius: 4px;
}

.expenses:hover {
    background-color: rgb(43, 43, 211);
}

.home_buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}