.expense-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: left;
  margin: 1rem 1rem 1rem 2rem;
}

.expense-form-input label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.expense-form-input input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.expense-form-input select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 10rem;
  max-width: 100%;
}

.expense-submit {
  text-align: left;
  margin-left: 2rem;
  font-weight: 600;
}

.expense-submit button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 0.5px solid white;
  background: linear-gradient(to right, #3376b9, #0f8f8f);
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.expense-submit button:hover,
.expense-submit button:active {
  background: linear-gradient(to right, #3b8ddf, #26cccc);
  /* border-color: #3b72e9; */
  border-color: white;
}

.expense-submit button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.expense-submit button.alternative:hover,
.expense-submit button.alternative:active {
  background-color: #ddb3f8;
}


@media (max-width: 600px) {
  .expense-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: left;
    margin: 0.5rem;
  }
  .expense-form-input input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 15rem;
    max-width: 100%;
  }
  .expense-submit {
    text-align: left;
    margin-left: 0.5rem;
    font-weight: 600;
  }

  .expense-submit button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem;
    border: 0.5px solid white;
    background: linear-gradient(to right, #3376b9, #0f8f8f);
    color: white;
    border-radius: 6px;
    margin-right: 0.5rem;
  }
}

@media (max-width: 912px) {
  .expense-submit button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem;
    border: 0.5px solid white;
    background: linear-gradient(to right, #3376b9, #0f8f8f);
    color: white;
    border-radius: 6px;
    margin-right: 0.5rem;
  }
}
