.expense-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: left;
  margin: 1rem 1rem 1rem 2rem;
}

.expense-form-input label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.expense-form-input input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.expense-form-input select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 10rem;
  max-width: 100%;
}

.expense-submit {
  text-align: left;
  margin-left: 2rem;
  font-weight: 600;
}

@media (max-width: 600px) {
  .expense-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: left;
    margin: 0.5rem;
  }
  .expense-form-input input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 15rem;
    max-width: 100%;
  }
  .expense-submit {
    text-align: left;
    margin-left: 0.5rem;
    font-weight: 600;
  }
}
