.new-expense-dark {
  background: linear-gradient(to right, #222222, #111111);
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.new-expense {
  /* background: linear-gradient(to right, #2e3192, #1bffff); */
  background: linear-gradient(to right, #399e9e, #2a9797, #1bffff);
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  text-align: center;
  /* box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25); */
}

.premium {
  background: linear-gradient(
    to right,
    rgb(165 145 38) 0%,
    rgb(221 194 50) 50%,
    rgb(165 145 38) 100%
  );
  margin-top: 10px;
  margin-bottom: 10px;
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 0.5px solid white;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.premium:hover,
.premium:active {
  background: linear-gradient(
    to right,
    rgb(183 157 16) 0%,
    rgb(199 171 23) 50%,
    rgb(195 164 2) 100%
  );
}

.download {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 0.5px solid white;
  background: rgb(179, 14, 14);
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.download:hover, .download:active {
  background: red;
}

.edit, .remove {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 0.5px solid white;
  /* background: linear-gradient(to right, #3376b9, #0f8f8f); */
  background-color: #0e7474;
  color: white;
  border-radius: 8px;
  margin-right: 1rem;
}

.edit:hover, .edit:active,
.remove:hover, .remove:active {
  background-color: #2a9797;
}

.dark {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 0.5px solid white;
  background: black;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.dark:hover, .dark:active {
  background: rgba(43, 40, 40, 0.795);
}

.list {
  list-style-type: none;
}
.expenseList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* text-align: left; */
  list-style-type: none;
  background: #8cebeb;
  margin-bottom: 1rem;
  border-radius: 6px;
  padding: 0.5rem;
}

/* .remove {
  background-color: rgba(187, 8, 8, 0.753);
} */

.expenseItem_date {
  width: 10%;
  /* border: 1px solid black; */
}

.expenseItem {
  width: 20%;
  box-sizing: border-box;
  /* display: inline-block;  */
  padding: 8px;
  text-align: left;
  /* border: 1px solid black; */
}

@media (max-width: 600px) {
  .new-expense {
    padding: 0.3rem;
    margin-right: 0.5rem;
    /* margin-left: 0.1rem; */
  }
  .expenseItem_date {
    width: 20%;
    /* text-align: center; */
    /* border: 1px solid black; */
  }
  .expenseList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: -2rem;
    /* width: 70vw; */
    /* margin-bottom: 10px; */
  }
  .expenseItem {
    width: 48%;
    display: inline-flex;
  }
  .expenseItemButton {
    display: flex;
  }
}

@media (max-width: 912px) {
  .new-expense {
    padding: 0.3rem;
  }
  .expenseItem_date {
    width: 10%;
    /* border: 1px solid black; */
  }
  .expenseList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10px; */
  }
  .expenseItem {
    width: 20%;
    box-sizing: border-box;
    padding: 8px;
    text-align: left;
  }
}
